a.a_res {text-decoration: none;}
a.a_res:hover {color: #473B34;}
.div_res_test {
    vertical-align: top;
    display: inline-block;
    width: 43%;}
a > div {
    background-color: rgba(168, 160, 150, 0.5);
    border-radius: 20px;
    padding: 10px 25px;
    margin-bottom: 3%;
    margin-right: 3%;}
a> div:hover {background-color: #A8A096;}
.div_content {padding: 20px 150px 20px 150px;}