*, *::before, *::after {
  box-sizing: border-box;
}

input {
    width = 300px;
}

div {line-height:30px;}

.label_reg {
    float:left;
    padding-right:10px;
    width: 140px;
}

.label_log {
    float:left;
    padding-right:10px;
    width: 25%;
}

form {float:left}

.reg, .log {text-align: center}