{% extends 'base.html' %}
{% block info %}
<title>Добро пожаловать</title>
<style>
    .plus li {margin-bottom: 10px;}
</style>
{% endblock %}

{% block content %}
<h1>Добро пожаловать в систему адаптивного тестирования!</h1>
<p align="justify">Чтобы получить доступ к прохождению тестов,
    <a href="{{url_for('login')}}">необходимо авторизоваться</a>.
    После этого Вы сможете как проходить тесты, так и
    создавать их, если Вы учитель или преподаватель. </p>
<p align="justify">Тестирование в данной системе является адаптивным.
    Это значит, что во время прохождения теста алгоритм будет подстраиваться под
    Ваши ответы на вопросы и подбирать очередной вопрос, основываясь на текущих
    результатах.</p>
<p> Такой метод обеспечивает: </p>
<ul class="plus">
    <li>Оптимальное число вопросов</li>
    <li>Индивидуальный подход</li>
    <li>Объективное оценивание</li>
</ul>

{% endblock %}