{% extends 'base.html' %}
{% block info %}
<title>Профиль</title>
<link type="text/css" rel="stylesheet"
      href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
<h2>Личная информация: </h2>
<p>Имя: {{ user.name }}</p>
<p>Почта: {{ user.email }}</p>
{% if user.role_id == 1 %}
<p> Вы ученик! Можете пройти доступные тесты в разделе
    <a href="{{url_for('topics')}}">Тесты</a>
    или выбрать нужный тест ниже.<br></p>
<h2>Ваши лучшие результаты по всем тестам:</h2>
{% for r in list_results %}
<div class="div_res_test">
    <a class="a_res" href="{{url_for('test_preview', test_id=r[0].id)}}">
    <div>
        <h2>{{r[0].name}}</h2>
        {% if r[1] %}
        <p>Лучшая оценка: {{r[1]}}</p>
        <p>Лучшие баллы: {{r[2]}}%</p>
        {% else %}
        <p>Тест еще не пройден</p>
        {% endif %}
    </div>
    </a>
</div>
{% endfor %}
{% else %}
<p> Вы учитель! Можете составлять тесты для учеников в разделе "Тесты ->
    Мои тесты" или по <a href="{{url_for('create_test')}}">ссылке</a><br></p>
{% endif %}
{% endblock %}