{% extends 'base.html' %}
{% block info %}
<title>Профиль</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}

<a href="{{url_for('index')}}"> На главную </a>
<a href="{{url_for('logout')}}"> Выйти из системы </a>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<h2>Личная информация: </h2>
<p>{{ user.name }}</p>
<p>{{ user.email }}</p>
{% if user.role == 1 %} <p> Вы ученик! Можете пройти доступные тесты </p>
{% else %} <p> Вы учитель! Можете составлять тесты для учеников </p>
{% endif %}

{% endblock %}